* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: red;
    margin: 10px;
    font-size: 12px ;
}

#menu_cima {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;

}

#menu_cima > div > a {
    margin: 10px;
}

#menu_cima  > a{
    margin: 5px;
}

#menu_baixo {
    background-color: black;
    color: azure;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
}

#menu_baixo > li {
    margin: 5px;
}

#titulo {
    font-weight: bolder;
    font-size: 40px;
}

#container{
    display: flex;
}

#texto {
    margin-left: 70px;
}

#texto > h2 {
    margin: 40px ;
}

#texto > p {
    padding: 10px;
    margin: 20px;
}

.sub_titulo {
    font-size: xx-large;
    font-weight: bolder;
}